@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7E9;
    /* color: #fff; */
}
.registerClass{
    color: #fff;
    background-color: #154360;
    padding: 40px;
    border-radius: 20px;
}
.registerClass > form{
    padding: 10px;
}
#button1{
    background-color: #F7DC6F;
}
#button2{
    background-color: #58D68D;
}